/*-------------------------------------------------------------- Image banner*/
.image-banner-container-contact {
  height: 350px;
  padding: 0;
  background: url('../images/tastings/contact/header-small.jpg') no-repeat center 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.jumbotron {
  background-color: rgba(193, 157, 123, 0.25);
}

.jumbotron-title {
}

.jumbotron-subtitle {
  /* color: #ffe7bf; */
  color: white;
  font-style: italic;
}

.jumbotron-subtitle footer {
  display: block;
  font-size: 14px;
  font-style: normal;
  margin-top: 10px;
}

.jumbotron-subtitle footer::before {
  content: '\2014 \00A0';
}
