@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');





 /*-------------------------------------------------------------- the rest*/


body {
  font-family: "Roboto","sans-serif";
  font-weight: 400;
  font-size: 14px;
}

section {
  margin: 15px 0;
}

.ruler {
  width: 80%;
  height: 1px;
  background-color: #6d6d6d;
  margin: 20px auto;
}

/*-------------------------------------------------------------- Colors*/
body {
  color: #6d6d6d;
  background-color: #ffffff;
}

.footer-container {
  background-color: #333333;
}

.social-icons li a i:hover {
  color:#a5a5a5;
}

.navigation-links li a:hover {
  color:#a5a5a5;
}

/*-------------------------------------------------------------- Header*/
.my-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 0;
  z-index: 1;
}

.flex-container {
  display: flex;
  height: 70px;
  padding: 10px 15px;
}

.flex-container div {
  border: 0px solid black;
}

.nav-logo {
  display: flex;
  flex-basis: 60%;
  order: 2;
  justify-content: center;
}

.nav-links {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}

.nav-signin-button {
  flex-basis: 20%;
  text-align: right;
}

.nav-hamburger-button {
  order: 1;
  flex-basis: 20%;
  font-size: 28px;
  line-height: 50px;
}

.nav-hamburger-button a {
  color: #6d6d6d;
}

.nav-hamburger-button a:hover {
  color: #000000;
}

.logo {
  height: 100%;
}

.my-navbar-list {
  display: inline-flex;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.menu-item {
  height: 100%;
  line-height: 50px;
  padding: 0 12px !important;
}

.menu-item a {
  color: #6d6d6d;
  font-weight: 400;
  font-size: 16px;
}

.menu-item a:hover,
.menu-item a:focus {
  text-decoration: none;
  color: #c58a4f;
}



/*-------------------------------------------------------------- Mobile header*/
.flex-container-mobile {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 70px;
  left: -100vw;
  z-index: 1;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

}

.menu-open {
  opacity: 1;
  left: 0;
}

.my-navbar-list-mobile {
  display: inline-flex;
  flex-direction: column;
}

.menu-item-mobile {
  height: 100%;
  line-height: 50px;
}

.menu-item-mobile a {
  color: #6d6d6d;
  font-weight: 300;
  font-size: 24px;
}

.menu-item-mobile a:hover,
.menu-item-mobile a:focus {
  color: #a5a5a5;
  text-decoration: none;
}


/*-------------------------------------------------------------- footer*/
footer {
  text-align: center;
  font-size: 12px;
  padding: 15px 0 50px 0;
}

.footer-column {
  margin: 10px 0;
}

.social-icons li a i {
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  color: #333333;
  background-color: #777777;
  line-height: 2em;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.navigation-links li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.contact-details {
  text-align: center;
}


/*-------------------------------------------------------------- Image banner*/
.image-banner-container {
  height: 350px;
  padding: 0;
  background: url('../images/tastings/backyard-house-lights-small.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0,0.25);
}

.jumbotron {
  background-color: transparent;
  color: #f2f2f2;
}

/*-------------------------------------------------------------- features*/
.feature-container {
}

.feature-image {
  padding: 15px;
  position: relative;
}


/*-------------------------------------------------------------- Media querie*/
/* small width */
@media (min-width: 768px) {
  .feature-container {
    display: flex;
    align-items: center;
  }

  .nav-logo {
    order: 1;
    flex-basis: 20%;
  }

  .nav-links {
    order: 2;
  }

  .nav-signin-button {
    order: 3;
  }

  .my-navbar{
    position: static;
  }

  footer {
    text-align: left;
  }

 }
