@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');





 /*-------------------------------------------------------------- the rest*/


body {
  font-family: "Roboto","sans-serif";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5em;
}

section {
  margin: 15px 0;
}

.ruler {
  width: 80%;
  height: 1px;
  background-color: #6d6d6d;
  margin: 20px auto;
}



/*-------------------------------------------------------------- Colors*/
body {
  color: #6d6d6d;
  background-color: #ffffff;
}

.footer-container {
  background-color: #333333;
}

.container-wrapper--grey {
  background-color: #e2e2e2;
}

/*-------------------------------------------------------------- Header*/
.my-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 0;
  z-index: 2;
}

.flex-container {
  display: flex;
  height: 70px;
  padding: 10px 15px;
}

.flex-container div {
  border: 0px solid black;
}

.nav-logo {
  display: flex;
  flex-basis: 60%;
  order: 2;
  justify-content: center;
}

.nav-links {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}

.nav-signin-button {
  flex-basis: 20%;
  text-align: right;
}

.nav-hamburger-button {
  order: 1;
  flex-basis: 20%;
  font-size: 28px;
  line-height: 50px;
}

.nav-hamburger-button a {
  color: #6d6d6d;
}

.nav-hamburger-button a:hover {
  color: #000000;
}

.logo {
  height: 100%;
}

.my-navbar-list {
  display: inline-flex;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.menu-item {
  height: 100%;
  line-height: 50px;
  padding: 0 12px !important;
}

.menu-item a {
  color: #6d6d6d;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.menu-item a:hover,
.menu-item a:focus {
  text-decoration: none;
  color: #000000;
}



/*-------------------------------------------------------------- Mobile header*/
.flex-container-mobile {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 70px;
  left: -100vw;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

}

.menu-open {
  opacity: 1;
  left: 0;
}

.my-navbar-list-mobile {
  display: inline-flex;
  flex-direction: column;
}

.menu-item-mobile {
  height: 100%;
  line-height: 50px;
}

.menu-item-mobile a {
  color: #6d6d6d;
  font-weight: 300;
  font-size: 24px;
}

.menu-item-mobile a:hover,
.menu-item-mobile a:focus {
  color: #a5a5a5;
  text-decoration: none;
}


/*-------------------------------------------------------------- footer*/
footer {
  text-align: center;
  font-size: 12px;
  padding: 15px 0 50px 0;
}

.footer-column {
  margin: 10px 0;
}

.social-icons li a i {
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  color: #333333;
  background-color: #777777;
  line-height: 2em;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.navigation-links li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.social-icons li a i:hover {
  color:#a5a5a5;
}

.navigation-links li a:hover {
  color:#a5a5a5;
}

.contact-details {
  text-align: center;
}


/*-------------------------------------------------------------- Image banner*/
.image-banner-container {
  height: 350px;
  padding: 0;
  background: url('../images/tastings/home-header.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0,0.25);
}

.jumbotron {
  background-color: transparent;
  color: #ffffff;
  /* color: #ff9232; */
}

.jumbotron h4 {
  color: #45ff9a;
}

.jumbotron-container {
  display: flex;
  align-items: center;
  z-index: 1;
}



/*-------------------------------------------------------------- features*/
.feature-container {
}

.container-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.feature-image {
  position: relative;
}

.description-header {
  height: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.description-header h2 {
  margin: 0;
}

.description-text {
  text-align: justify;
}

.drinks-container {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
}

.tasting-header {
  margin-bottom: 40px;
}
.tasting-header h2 {
  text-align: center;
}

.drink-item-card {
  /* flex-basis: 20vw; */
  flex-basis: 240px;
  background-color: white;
}

.drink-item-card a {
  color: inherit;
  text-decoration: none;
}

.drink-image {
   height: 240px;
}

.beer-image {
  background: url('../images/tastings/beer-item-card.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wine-image {
  background: url('../images/tastings/wine-item-card.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.whiskey-image {
  background: url('../images/tastings/whiskey-item-card.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.drink-content {
  text-align: justify;
  font-size: 14px;
  line-height: 1.8em;
  padding: 10px;
}

.drink-content h4 {
  text-align: center;
  margin-bottom: 0;
}

.item-select {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.item-select:hover {
  top: -10px;
  color: white;
}

.item-select:hover  .divider-small {
  background-color: white;
}

.item-select::before {
  content: "";
  background-color: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.item-select:hover::before{
  /* -webkit-transform: scaleY(1);
  transform: scaleY(1); */
  background-color: #a0a0a0;
  -webkit-transition-timing-function: cubic-bezier(0.43, 0.77, 0.37, 0.97);
  transition-timing-function:  cubic-bezier(0.43, 0.77, 0.37, 0.97);
}

/*-------------------------------------------------------------- Block divider*/
.divider-large {
  width: 50px;
  height: 5px;
  background-color: #9c9c9c;
}

.divider-small {
  width: 25px;
  height: 2px;
  background-color: #9c9c9c;
  margin: 10px auto 20px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

/*-------------------------------------------------------------- Calendar*/
.datepicker table tr td.today,
.datepicker table tr td.today.disabled {
  background-color:#bababa;
  background-image: none;
}
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover

.datepicker table tr td.active,
.datepicker table tr td.active.active {
  background-color:#333;
  background-image: none;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover {
  background-image: none;
  background-color: #545454;
}

/*-------------------------------------------------------------- Media querie*/
/* small width */
@media (min-width: 768px) {
  .feature-container {
    display: flex;
    align-items: center;
  }

  .nav-logo {
    order: 1;
    flex-basis: 20%;
    justify-content: left;
  }

  .nav-links {
    order: 2;
  }

  .nav-signin-button {
    order: 3;
  }

  .my-navbar{
    position: static;
  }

  footer {
    text-align: left;
  }

  .drinks-container {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

 }
