/*-------------------------------------------------------------- Image banner*/
.image-banner-container-wine {
  height: 350px;
  padding: 0;
  background: url('../images/tastings/wine/wine-header-small.jpg') no-repeat center 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.jumbotron {
  background-color: rgba(0, 81, 144, 0.5);
}

.jumbotron-title {
}

.jumbotron-subtitle {
  color: #c8e1ff;
  font-style: italic;
}

.jumbotron-subtitle footer {
  display: block;
  font-size: 14px;
  font-style: normal;
  margin-top: 10px;
}

.jumbotron-subtitle footer::before {
  content: '\2014 \00A0';
}


/*-------------------------------------------------------------- Images */
.image-right {
  float: right;
}

.image-left {
  float: left;
}

/*-------------------------------------------------------------- Bookings */
.booking-item-left {
  text-align: justify;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
}

.booking-item-right {
  text-align: justify;
  background: white;
  padding-right: 20px;
  padding-left: 20px;
}

.container-wine-info {
  margin-top: 20px;
  width: 100%;
  height: 235px;
}

.wine-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.wine-div {
  display: inline-block;
  float: left;
  width: 100%;
  padding-left: 20px;
  height: 100%;
}

.wine1-color-div {
  color: #5f4d4a;
  background: #e4aca2;
}

.wine2-color-div {
  color: #273133;
  background: #95b4bb;
}

.wine3-color-div {
  color: #67553a;
  background: #eec78e;
}

.row-height {

}

.column-height {
  height: 100%;
}

.book-now {
  display: inline-block;
  width: 250px;
  float:left;
  padding-left: 20px;
  height: 100%;
  margin-top: 10px;
}

.label-pink {
  background-color: #d49387;
}

/*-------------------------------------------------------------- Book you tasting*/
.center-div {
  text-align: center;
}

#book-tasting {
  margin-bottom: 40px;
}

/*-------------------------------------------------------------- Calendar*/
.datepicker table tr td.today,
.datepicker table tr td.today.disabled {
  background-color:#bababa;
  background-image: none;
}
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover

.datepicker table tr td.active,
.datepicker table tr td.active.active {
  background-color:#333;
  background-image: none;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover {
  background-image: none;
  background-color: #545454;
}

.datepicker {
  display: inline-block !important;
}


/*-------------------------------------------------------------- Media queries*/
@media (min-width: 1200px) {
  .booking-item-left {
    padding-right: 0;
  }

  .booking-item-right {
    padding-left: 0;
  }

  .row-height {
    height: 530px;
  }

  .container-wine-info {
    position: absolute;
    bottom: 0;
  }


 }

 @media (min-width: 768px) {
   .wine-div {
     width: 250px;
   }

   .book-now {
     margin-top: 0;
   }

  }
